@use '../@mixins.scss' as *;

/* Multi text property */
.multi-select-pill > .iconic-icon {
	@include clickable;
	display: flex;
	margin-inline-start: var(--size-4-2);
	margin-inline-end: var(--size-4-1);
}
.multi-select-pill.internal-link > .iconic-icon {
	margin-inline-start: 0;
	text-decoration-line: none;
}
.multi-select-pill > .iconic-icon + .multi-select-pill-content {
	margin-inline-start: 0;
}
.multi-select-pill > .iconic-icon + .multi-select-pill-content + .multi-select-pill-remove-button {
	color: inherit;
}