/* Rule picker */
.is-mobile .mod-confirmation > .modal.iconic-rule-picker {
	background-color: var(--modal-background);
}
.setting-item > .iconic-rule-icon {
	padding: var(--size-2-2);
	margin-inline-end: var(--size-4-2);
}
.setting-item > .setting-item-info > .iconic-rule-name {
	width: fit-content;
	min-width: var(--size-4-4);
	overflow-wrap: anywhere;
}
.setting-item > .setting-item-info > .iconic-rule-name:hover,
.setting-item > .setting-item-info > .iconic-rule-name[contenteditable="true"] {
	border: var(--input-border-width) solid var(--background-modifier-border);
	border-radius: var(--input-radius);
	margin: calc(-1 * var(--size-4-1) - var(--input-border-width)) calc(-1 * var(--size-4-2) - var(--input-border-width));
	padding: var(--size-4-1) var(--size-4-2);
	background: var(--background-modifier-form-field);
	color: var(--text-normal);
}
.iconic-drag-handle:hover {
	cursor: grab;
}
.iconic-drag-handle:active {
	cursor: grabbing;
}
.iconic-add > .setting-item-control {
	justify-content: flex-start;
}
.drag-reorder-ghost .iconic-rule,
.drag-reorder-ghost .iconic-condition {
	padding: 0.75em 0;
}
.mod-rtl .drag-reorder-ghost .iconic-rule,
.mod-rtl .drag-reorder-ghost .iconic-condition {
	direction: rtl;
}
.iconic-rule-picker .drag-ghost-hidden + .setting-item,
.iconic-rule-editor .drag-ghost-hidden + .setting-item {
	border-top-color: transparent;
}