@use './@mixins.scss' as *;

.iconic-icon > .iconic-emoji {
	display: inline-flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	overflow: clip;
	overflow-clip-margin: 5px;
	width: var(--icon-size);
	height: var(--icon-size);
	font-size: calc(var(--icon-size) * 0.9);
}

.menu-item-icon.iconic-icon .iconic-emoji {
	@include icon(s, s);
}