@use './@mixins.scss' as *;

/* List items */
.tree-item-self > .iconic-icon {
	@include clickable;
	@include icon(xs);
}
.tree-item-self > .iconic-sidekick {
	display: flex;
	align-self: center;
	width: var(--size-4-4);
	margin-inline-end: var(--size-4-1);
	opacity: var(--icon-opacity);
}
.iconic-bigger-icons .tree-item-self > .iconic-icon {
	@include icon(s, s);
}
.iconic-bigger-icons .iconic-item > .tree-item-self > .tree-item-inner {
	margin-inline-start: 1.5px;
}
.is-mobile .iconic-bigger-icons .tree-item.iconic-item > .tree-item-self > .tree-item-inner {
	margin-inline-start: 3px;
}